<!-- <h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <input matInput autocomplete="setstr" name="setstr" id="setstr" [(ngModel)]="data.name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" [disabled]="data.name == null || data.name == ''">Сохранить</button>
  <button mat-button [mat-dialog-close]="false">Отмена</button>
  <button class="btn-pict" type="button" mat-raised-button color="warn" [mat-dialog-close]="'delete'"
    [style.margin-left]="'5px'" *ngIf="data.edit === true">
    <i class="fa fa-ban" aria-hidden="true"></i>
  </button>
</div>
 -->




<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <h1>{{data.title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-lg-8 col-xl-8 col-12">
        <mat-form-field class="full-width">
          <input matInput placeholder="Название" autocomplete="setstr" name="setstr" id="setstr" [(ngModel)]="data.name"
            [disabled]="data.viewOnly === true">
        </mat-form-field>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 col-12">
        <mat-slide-toggle [style.margin-top]="'15px'" [color]="'primary'" [(ngModel)]="data.district_center"
          id="district_center" [disabled]="data.viewOnly === true">
          Районный центр
        </mat-slide-toggle>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xl-4 col-12">
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Широта" autocomplete="nope" name="latitude" id="latitude"
            [(ngModel)]="data.latitude" [disabled]="data.viewOnly === true">
        </mat-form-field>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 col-12">
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Долгота" autocomplete="nope" name="longitude" id="longitude"
            [(ngModel)]="data.longitude" [disabled]="data.viewOnly === true">
        </mat-form-field>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 col-12 float-right pt-4">
        <small *ngIf="data.viewOnly !== true">Клик по карте для установки маркера</small>
      </div>
    </div>
    <div class="row" *ngIf="data.edit === true && data.viewOnly !== true">
      <div class="col-12">
        <mat-button-toggle-group [value]="data.myFlagForButtonToggle" (change)="setFlag($event)">
          <mat-button-toggle value="map">
            Карта
          </mat-button-toggle>
          <mat-button-toggle value="list" [disabled]="lists?.length === 0">
            Списки
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="row" [hidden]="data.myFlagForButtonToggle !== 'map'">
      <div class="col-12">
        <div id="mapid"></div>
      </div>
    </div>
    <div class="row" [hidden]="data.myFlagForButtonToggle !== 'list'">
      <div class="col-12" [style.height]="'300px'">
        <table class="table">
          <thead>
            <tr>
              <th>#
              </th>
              <th>Архив</th>
              <th id="fond">Фонд</th>
              <th id="opis">Опись</th>
              <th id="delo">Дело</th>
              <th id="delo">Листы</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of lists | slice: start: end; let i = index">
              <td (click)="gotoList(list.id)" id="id">{{list.id}}</td>
              <td (click)="gotoList(list.id)">{{list.archive}}</td>
              <td (click)="gotoList(list.id)" id="fond">{{list.fond}}</td>
              <td (click)="gotoList(list.id)" id="opis">{{list.opis}}</td>
              <td (click)="gotoList(list.id)" id="delo">{{list.delo}}</td>
              <td (click)="gotoList(list.id)" id="delo">{{list.sheets}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 float-right">
        <mat-paginator #republic_MatPaginator class="float-right" [length]="length" [pageIndex]="pageEvent?.pageIndex"
          [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="setPageSizeOptions($event)"
          [hidePageSize]=true>
        </mat-paginator>
      </div>
    </div>
  </div>
  <div mat-dialog-actions *ngIf="data.viewOnly !== true">
    <button mat-raised-button color="primary" [mat-dialog-close]="data"
      [disabled]="data.name == null || data.name == ''">Сохранить</button>
    <button type="button" mat-raised-button [mat-dialog-close]="false">Отмена</button>
    <button class="btn-pict" type="button" mat-raised-button color="warn" [mat-dialog-close]="'delete'"
      [style.margin-left]="'5px'" *ngIf="data.edit === true">
      <i class="fa fa-ban" aria-hidden="true"></i>
    </button>
  </div>
</div>