<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="login">Логин</label>
    <input placeholder="Логин" type="text" class="form-control" name="login" id="login" formControlName="login"
      [ngClass]="{'has-error': form.get('login').invalid && form.get('login').touched}">
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input placeholder="Пароль" type="password" class="form-control" name="password" id="password"
      formControlName="password"
      [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
  </div>
  <div class="checkbox">
    <mat-checkbox color="primary" formControlName="rmbMe">Запомнить меня</mat-checkbox>
  </div>
  <div class="form-group">
    <button type="submit" mat-raised-button color="primary">Войти</button>
  </div>
</form>