<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-6 col-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="Имя файла" autocomplete="filter_filename" name="filter_filename"
          id="filter_filename" [(ngModel)]="filter_filename" (input)="updateData()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="filter_filename=''; updateData()">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2 col-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="Фонд" autocomplete="filter_fond" name="filter_fond" id="filter_fond"
          [(ngModel)]="filter_fond" (input)="updateData()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="filter_fond=''; updateData()">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2 col-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="Опись" autocomplete="filter_opis_nam" name="filter_opis_nam" id="filter_opis_nam"
          [(ngModel)]="filter_opis_nam" (input)="updateData()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="filter_opis_nam=''; updateData()">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2 col-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="Дело" autocomplete="filter_delo" name="filter_delo" id="filter_delo"
          [(ngModel)]="filter_delo" (input)="updateData()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="filter_delo=''; updateData()">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th [style.width]="'80px'" id="id" [style.cursor]="'pointer'" (click)="selectOrder('byid')"
            [innerHTML]="'# ' + postfixId">
          </th>
          <th [style.cursor]="'pointer'" (click)="selectOrder('byfilename')"
            [innerHTML]="'Имя файла ' + postfixFilename">Имя файла</th>
          <th [style.width]="'100px'" [style.cursor]="'pointer'" id="fond" (click)="selectOrder('byshifr')"
            [innerHTML]="'Фонд ' + postfixShifr">Фонд</th>
          <th [style.width]="'80px'" id="opis">Опись</th>
          <th [style.width]="'80px'" id="delo">Дело</th>
          <th [style.width]="'200px'" [style.cursor]="'pointer'" (click)="selectOrder('bycrtime')"
            [innerHTML]="'Дата составления ' + postfixCrtime">Дата составления</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let listfile of listfiles; let i = index">
          <tr *ngIf="isImgtype(listfile?.listfile?.filename)">
            <td (click)="onShowImg(i)" id="id">{{listfile.id}}</td>
            <td (click)="onShowImg(i)">{{listfile?.listfile?.filename}}</td>
            <td (click)="onShowImg(i)" id="fond">{{listfile.fond}}</td>
            <td (click)="onShowImg(i)" id="opis">{{listfile.opis_name}}</td>
            <td (click)="onShowImg(i)" id="delo">{{listfile.delo}}</td>
            <td (click)="onShowImg(i)">{{listfile?.creation_datetime | date: "dd.MM.yyyy"}}
            </td>
          </tr>
          <tr *ngIf="!isImgtype(listfile?.listfile?.filename)">
            <td (click)="onDownloadfile(listfile?.id)" id="id">{{listfile.id}}</td>
            <td (click)="onDownloadfile(listfile?.id)">{{listfile?.listfile?.filename}}</td>
            <td (click)="onDownloadfile(listfile?.id)" id="fond">{{listfile.fond}}</td>
            <td (click)="onDownloadfile(listfile?.id)" id="opis">{{listfile.opis_name}}</td>
            <td (click)="onDownloadfile(listfile?.id)" id="delo">{{listfile.delo}}</td>
            <td (click)="onDownloadfile(listfile?.id)">
              {{listfile?.creation_datetime | date: "dd.MM.yyyy"}}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="col float-right">
      <mat-paginator class="float-right" [length]="length" [pageIndex]="pageEvent?.pageIndex" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="setPageSizeOptions($event)">
      </mat-paginator>
    </div>
  </div>
</div>
<div class="progress-bar mt-2 mb-2" *ngIf="inProgress">
  <mat-progress-bar mode="buffer" [color]="'accent'" [value]="0" [bufferValue]="inProgressVal" [style.height]="'5px'">
  </mat-progress-bar>
</div>
<div>
  <ngx-gallery (previewClose)="galleryImages.length = 0" (previewChange)="previewChange($event)"
    [style.display]="(showGallary === false) ? 'none' : 'block'" [options]="galleryOptions"
    (previewClose)="showGallary = false" [images]="galleryImages" #gallary></ngx-gallery>
</div>