<div class="container">
  <div class="auth">
    <div class="auth-container">
      <div class="card">
        <header class="auth-header">
          <div class="auth-title">
            <i class="fa fa-fw fa-archive" [style.color]="'#3f51b5'"></i>Список
          </div>
        </header>
        <div class="auth-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>