<div class="container">
  <div class="row">
    <div class="col-8">
      <mat-form-field class="w-100">
        <input matInput placeholder="Фильтр" [(ngModel)]="searchStr" (input)="updateData()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchStr=''; updateData()">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-4">
      <button class="float-right" mat-fab color="primary" (click)="onAddUser()">+
        <i class="fa fa-user" aria-hidden="true"></i>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th (click)="selectOrder('byid')" [innerHTML]="'# ' + postfixId" [style.cursor]="'pointer'"
            [style.width]="'80px'">#</th>
          <th id="login" (click)="selectOrder('bylogin')" [innerHTML]="'Логин ' + postfixLogin"
            [style.cursor]="'pointer'" [style.width]="'25%'">Логин</th>
          <th>Имя</th>
          <th>Фамилия</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let muser of musers | musersFilter: searchStr | slice: start: end; let i = index">
          <td (click)="onEditUser(muser.id)">{{muser.id}}</td>
          <td (click)="onEditUser(muser.id)" id="login">{{trim(muser.login).str}}<span
              *ngIf="muser.login.length > trim(muser.login).end + 2" [matTooltip]="muser.login">...</span>
          </td>
          <td (click)="onEditUser(muser.id)">{{trim(muser.name).str}}<span
              *ngIf="muser.name.length > trim(muser.name).end + 2" [matTooltip]="muser.name">...</span>
          </td>
          <td (click)="onEditUser(muser.id)">{{trim(muser.surname).str}}<span
              *ngIf="muser.surname.length > trim(muser.surname).end + 2" [matTooltip]="muser.surname">...</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col float-right">
      <mat-paginator class="float-right" [length]="(musers | musersFilter: searchStr)?.length" [pageSize]="pageSize"
        [pageIndex]="pageEvent?.pageIndex" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = setPageSizeOptions($event)" #paginator>
      </mat-paginator>
    </div>
  </div>
</div>