<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-xl-4 col-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="Архив" autocomplete="p_searchStr" name="p_searchStr" id="p_searchStr"
          [(ngModel)]="searchStr" (input)="updateData()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchStr=''; updateData()">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2 col-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="Фонд" autocomplete="p_searchStr_fond" name="p_searchStr_fond" id="p_searchStr_fond"
          [(ngModel)]="searchStr_fond" (input)="updateData()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchStr_fond=''; updateData()">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2 col-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="Опись" autocomplete="p_searchStr_opis" name="p_searchStr_opis"
          id="p_searchStr_opis" [(ngModel)]="searchStr_opis" (input)="updateData()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchStr_opis=''; updateData()">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2 col-8">
      <mat-form-field class="full-width">
        <input matInput placeholder="Дело" autocomplete="p_searchStr_delo" name="p_searchStr_delo" id="p_searchStr_delo"
          [(ngModel)]="searchStr_delo" (input)="updateData()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchStr_delo=''; updateData()">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2 col-4">
      <button class="float-right" mat-fab color="primary" (click)="onAddList()">+
        <i class="fa fa-book" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-12">
      <mat-form-field class="full-width">
        <input type="text" placeholder="Населенный пункт" aria-label="Населенный пункт" matInput
          [formControl]="listlocalityControl" [matAutocomplete]="auto" (input)="inputLink()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="resetLocality()">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option (onSelectionChange)="selectLocality(option)" *ngFor="let option of filteredLocalitys | async"
            [value]="option">
            {{option?.republic_name}} - {{option?.region_name}} - {{option?.district_name}} - {{option?.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th [style.width]="'80px'" id="id" [style.cursor]="'pointer'" (click)="selectOrder('byid')"
            [innerHTML]="'# ' + postfixId">#
          </th>
          <th [style.width]="'100px'" [style.cursor]="'pointer'" (click)="selectOrder('byafod')"
            [innerHTML]="'Архив ' + postfixShifr">
            Архив</th>
          <th [style.width]="'80px'" id="fond">Фонд</th>
          <th [style.width]="'80px'" id="opis">Опись</th>
          <th [style.width]="'120px'" id="delo">Дело</th>
          <th [style.width]="'200px'" id="date">Дата составления</th>
          <th id="sheets">Листы</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of lists; let i = index">
          <td (click)="onEditList(list.id)" id="id">{{list.id}}</td>
          <td (click)="onEditList(list.id)">{{list.archive}}</td>
          <td (click)="onEditList(list.id)" id="fond">{{list.fond}}</td>
          <td (click)="onEditList(list.id)" id="opis">{{list.opis}}</td>
          <td (click)="onEditList(list.id)" id="delo">{{list.delo}}</td>
          <td (click)="onEditList(list.id)" id="birth">{{list.preparation_date}}
            <!-- <span *ngIf="list.preparation_date != null">{{list.preparation_date | date: "dd.MM.yyyy"}}</span> -->
          </td>
          <td (click)="onEditList(list.id)">{{list.sheets}}</td>
        </tr>
      </tbody>
    </table>
    <div class="col float-right">
      <mat-paginator class="float-right" [length]="length" [pageIndex]="pageEvent?.pageIndex" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="setPageSizeOptions($event)">
      </mat-paginator>
    </div>
  </div>
</div>