<div class="container">
  <form [formGroup]="listForm" class="w-100">
    <div class="row">
      <div class="col-12 mb-2">
        <p [style.margin-bottom]="'6px'">Тип списка</p>
        <mat-radio-group class="example-radio-group" formControlName="rtype">
          <mat-radio-button
            class="example-radio-button"
            [value]="0"
            (click)="checkType($event, 0)"
          >
            Угон
          </mat-radio-button>
          <mat-radio-button
            class="example-radio-button ml-2"
            [value]="1"
            (click)="checkType($event, 1)"
          >
            Работа
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-8">
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Архив"
            autocomplete="nope"
            name="archive"
            id="archive"
            formControlName="archive"
            maxlength="30"
          />
          <mat-hint align="end"
            >{{ listForm?.value?.archive?.length }} / 30</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="col-4">
        <!-- <mat-form-field>
          <input autocomplete="nope" name="preparation_date" id="preparation_date" matInput
            [matDatepicker]="preparation_date" placeholder="Дата составления" formControlName="preparation_date">
          <mat-datepicker-toggle matSuffix [for]="preparation_date"></mat-datepicker-toggle>
          <mat-datepicker #preparation_date startView="year"></mat-datepicker>
          <button [disabled]="viewOnly" type="button" mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="resetpreparation_date()">x</button>
        </mat-form-field> -->
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Дата составления"
            autocomplete="nope"
            name="preparation_date"
            id="preparation_date"
            formControlName="preparation_date"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Фонд"
            autocomplete="nope"
            name="fond"
            id="fond"
            formControlName="fond"
            maxlength="30"
          />
          <mat-hint align="end"
            >{{ listForm?.value?.fond?.length }} / 30</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Опись"
            autocomplete="nope"
            name="opis"
            id="opis"
            formControlName="opis"
            maxlength="30"
          />
          <mat-hint align="end"
            >{{ listForm?.value?.opis?.length }} / 30</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Дело"
            autocomplete="nope"
            name="delo"
            id="delo"
            formControlName="delo"
            maxlength="30"
          />
          <mat-hint align="end"
            >{{ listForm?.value?.delo?.length }} / 30</mat-hint
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Листы"
            autocomplete="nope"
            name="sheets"
            id="sheets"
            formControlName="sheets"
            maxlength="500"
          />
          <mat-hint align="end"
            >{{ listForm?.value?.sheets?.length }} / 500</mat-hint
          >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="row" *ngIf="selectedListfiles?.length > 0">
          <div
            class="col-md-6 col-lg-4 col-xl-4 col-12"
            *ngFor="let selectedListfile of selectedListfiles; let i = index"
            [style.margin-top]="'5px'"
          >
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="selectedListfile.checkToDel == false"
            >
              <div ngbDropdown>
                <a
                  class="float-right dropdown-toggle download"
                  id="id02"
                  ngbDropdownToggle
                  ><small>{{ selectedListfile.listfile.filename }}</small></a
                >
                <div
                  class="dropdown-menu"
                  aria-labelledby="id02"
                  ngbDropdownMenu
                  [style.min-width]="'100px'"
                >
                  <a
                    class="dropdown-item"
                    (click)="onShowImg(selectedListfile?.id)"
                    *ngIf="isImgtype(selectedListfile?.listfile.filename)"
                  >
                    Открыть
                  </a>
                  <a
                    class="dropdown-item btn disabled"
                    *ngIf="!isImgtype(selectedListfile?.listfile.filename)"
                  >
                    Открыть
                  </a>
                  <a
                    class="dropdown-item"
                    (click)="onDownloadListfile(selectedListfile?.id)"
                  >
                    Скачать
                  </a>
                </div>
              </div>
              <span
                class="badge badge-light badge-pill"
                (click)="toggleCheckToDel(i)"
                matTooltip="Пометить на удаление"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>
              </span>
            </div>
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="selectedListfile.checkToDel == true"
              [style.text-decoration]="'line-through'"
            >
              <span class="download">{{
                selectedListfile.listfile.filename
              }}</span>
              <span
                class="badge badge-light badge-pill"
                (click)="toggleCheckToDel(i)"
                matTooltip="Снять пометку на удаление"
              >
                <i class="fa fa-check" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="dropzone"
            appFiledrop
            (click)="onOpenFilesInput()"
            (filesChangeEmiter)="onFilesChange($event)"
            [allowed_extensions]="[
              'jpg',
              'png',
              'gif',
              'bmp',
              'jpeg',
              'pdf',
              'tiff',
              'doc',
              'docx'
            ]"
          >
            <div class="text-wrapper">
              <div class="centered">
                <p>Для загрузки доступны:</p>
                <p>
                  *.jpg, *.jpeg, *.png, *.bmp, *.gif, *.pdf, *.tiff, *.doc,
                  *.docx
                </p>
              </div>
            </div>
          </div>
          <input
            type="file"
            accept=".jpg, .png, .gif, .bmp', .jpeg, .pdf, .tiff, .doc, .docx"
            multiple
            class="form-control"
            placeholder=""
            (change)="onFilesChangeInput($event)"
            [style.display]="'none'"
            #filesInput
          />
        </div>
        <div class="row" *ngIf="files?.length > 0">
          <div
            class="col-md-8 col-lg-8 col-xl-8 col-12"
            [style.margin-bottom]="'5px'"
          >
            <ul class="list-group">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let file of files; let i = index"
              >
                {{ file.name }}
                <span
                  class="badge badge-danger badge-pill"
                  (click)="onDelFileById(i)"
                >
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </span>
              </li>
            </ul>
          </div>
          <div
            class="col-md-4 col-lg-4 col-xl-4 col-12"
            [style.margin-bottom]="'10px'"
          >
            <button
              matTooltip="Очистить список"
              type="button"
              mat-raised-button
              color="warn"
              (click)="onDelFiles()"
            >
              <i class="fa fa-ban" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="row" *ngIf="listlocalityLinks?.length > 0">
          <div
            class="col-md-6 col-lg-4 col-xl-4 col-12"
            *ngFor="let listlocality of listlocalityLinks; let i = index"
            [style.margin-top]="'5px'"
          >
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="listlocality.checkToDel == false"
              (click)="onViewLocality(listlocality.id)"
              [style.cursor]="'pointer'"
            >
              <span
                ><small>Республика: {{ listlocality.republic_name }}</small>
                <br /><small>Регион: {{ listlocality.region_name }}</small
                ><br /><small>Район: {{ listlocality.district_name }}</small
                ><br />{{ listlocality.name }}</span
              >
              <span
                class="badge badge-light badge-pill"
                (click)="toggleCheckToDelLink(i)"
                matTooltip="Пометить на удаление"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>
              </span>
            </div>
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="listlocality.checkToDel == true"
              [style.text-decoration]="'line-through'"
            >
              <span
                ><small>Республика: {{ listlocality.republic_name }}</small>
                <br /><small>Регион: {{ listlocality.region_name }}</small
                ><br /><small>Район: {{ listlocality.district_name }}</small
                ><br />{{ listlocality.name }}</span
              >
              <span
                class="badge badge-light badge-pill"
                (click)="toggleCheckToDelLink(i)"
                matTooltip="Снять пометку на удаление"
              >
                <i class="fa fa-check" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12 col-md-10 col-lg-10 col-xl-10">
            <mat-form-field class="full-width">
              <input
                type="text"
                placeholder="Населенный пункт"
                aria-label="Населенный пункт"
                matInput
                [formControl]="listlocalityControl"
                [matAutocomplete]="auto"
                (input)="inputLink()"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
              >
                <mat-option
                  *ngFor="let option of filteredLocalitys | async"
                  [value]="option"
                >
                  {{ option?.republic_name }} - {{ option?.region_name }} -
                  {{ option?.district_name }} - {{ option?.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-2 col-lg-2 col-xl-2">
            <button
              class="btn-pict"
              type="button"
              mat-fab
              color="primary"
              (click)="onAddArchivefolderlink()"
              [style.margin-left]="'5px'"
              class="float-lg-right float-md-right float-xl-right"
              [disabled]="listlocalityControl?.value?.id == undefined"
            >
              <i class="fa fa-fw fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="row" *ngIf="newlistlocalityLinks?.length > 0">
          <div
            class="col-md-6 col-lg-4 col-xl-4 col-12"
            *ngFor="let listlocalityLink of newlistlocalityLinks; let i = index"
            [style.margin-top]="'5px'"
          >
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
              (click)="onViewLocality(listlocalityLink.id)"
              [style.cursor]="'pointer'"
            >
              <!-- <span
                matTooltip="Республика: {{listlocalityLink.republic_name}}. Регион: {{listlocalityLink.region_name}}. Район: {{listlocalityLink.district_name}}">{{listlocalityLink.name}}</span> -->
              <span
                ><small>Республика: {{ listlocalityLink.republic_name }}</small>
                <br /><small>Регион: {{ listlocalityLink.region_name }}</small
                ><br /><small>Район: {{ listlocalityLink.district_name }}</small
                ><br />{{ listlocalityLink.name }}</span
              >
              <span
                class="badge badge-danger badge-pill"
                (click)="onDelLinkById(i)"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12" *ngIf="intType !== 'myprofile'">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="onSaveListform()"
          [disabled]="listForm.invalid"
        >
          Сохранить
        </button>
        <button
          class="btn-pict"
          matTooltip="Обновить"
          type="button"
          mat-raised-button
          (click)="getData()"
          [style.margin-left]="'5px'"
        >
          <i class="fa fa-fw fa-refresh"></i>
        </button>
        <button
          class="btn-pict"
          matTooltip="Удалить список"
          type="button"
          mat-raised-button
          color="warn"
          (click)="onDelMuser()"
          [style.margin-left]="'5px'"
          *ngIf="intType == 'editdoc'"
        >
          <i class="fa fa-fw fa-user-times"></i>
        </button>
        <span class="ml-4" *ngIf="intType == 'editdoc'"
          >Дата ввода:
          {{ selectedList?.creation_datetime | date: 'dd.MM.yyyy' }}</span
        >
      </div>
    </div>
  </form>
</div>
<div class="progress-bar mt-2 mb-2" *ngIf="inProgress">
  <mat-progress-bar
    mode="buffer"
    [color]="'accent'"
    [value]="0"
    [bufferValue]="inProgressVal"
    [style.height]="'5px'"
  >
  </mat-progress-bar>
</div>
<div>
  <ngx-gallery
    (previewChange)="previewChange($event)"
    [style.display]="showGallary === false ? 'none' : 'block'"
    [options]="galleryOptions"
    (previewClose)="showGallary = false"
    [images]="galleryImages"
    #gallary
  ></ngx-gallery>
</div>
