.progress-bar {
	position: fixed;
	top: 100px;
	left: 260px;
	right: 50px;
	background: RGBA(0, 0, 0, 0);
	color: #000;
}
@media (max-width: 991px) {
	.progress-bar {
		left: 90px;
	}
}
.dropzone {
	min-height: 80px;
	display: table;
	width: 100%;
	border: dashed 1px #d2d2d2;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	color: #d2d2d2;
	cursor: pointer;
}

.dropzone:hover {
	border-color: #3a4651;
	color: #777;
	-webkit-box-shadow: 0 9px 6px -6px #777;
	-moz-box-shadow: 0 9px 6px -6px #777;
	box-shadow: 0 9px 6px -6px #777;
}

.dropzone p {
	font-style: italic;
	font-weight: 450;
}

.text-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.centered {
	text-align: center;
}

.badge-danger {
	background: #f44336;
	cursor: pointer;
}

.badge-light {
	cursor: pointer;
}

.btn-pict {
	min-width: 20px !important;
}

.download {
	cursor: pointer !important;
	color: #3f51b5 !important;
}

.download:hover {
	text-decoration: underline !important;
}

.btn-status {
	background: #009aff !important;
}
