<!-- <h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.question}}</p>
</div>
 -->

<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <h1>{{data.title}}</h1>
        <p>{{data.question}}</p>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Да</button>
    <button mat-raised-button (click)="onNoClick()">Нет</button>
  </div>
</div>