<div class="container">
  <div class="row">
    <div class="ml-4 mr-4 mt-4">
      <angular-editor
        [(ngModel)]="htmlContent"
        [config]="editorConfig"
      ></angular-editor>
    </div>
    <div class="col-12 mt-3 mb-4">
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="onSave()"
      >
        Сохранить
      </button>
      <button
        class="btn-pict"
        matTooltip="Обновить"
        type="button"
        mat-raised-button
        (click)="ngOnInit()"
        [style.margin-left]="'5px'"
      >
        <i class="fa fa-fw fa-refresh"></i>
      </button>
    </div>
  </div>
</div>
