a {
	color: #a6281b;
	font-family: "Roboto", serif;
	&:hover {
		color: #a6281b;
		text-decoration: underline;
	}
}
h1 {
	font-size: 29pt;
	font-weight: 700;
	font-family: "Roboto Slab", serif;
	color: #000;
	margin-bottom: 30px;
}
h2 {
	margin-bottom: 10px;
	font-size: 26pt;
	font-weight: 400 !important;
	font-family: "Roboto Slab", serif !important;
	color: #000;
}
h3 {
	font-size: 15pt;
	font-weight: 400 !important;
	color: #000;
	font-family: "Roboto Slab", serif !important;
	&:hover {
		color: #c2c2c2;
	}
}
h1 {
	font-size: 35pt;
	margin-bottom: 50px;
	font-weight: 300 !important;
	font-family: "Roboto Slab", serif !important;
	color: #000;
}
