<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#"><i class="fa fa-2x fa-fw fa-archive" [style.color]="'#3f51b5'"></i></a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngFor="let item of mainMenu">
        <a class="nav-link" [routerLink]="[item.modulLink]">{{item.text}}</a>
      </li>
    </ul>
    <div class="header-block header-block-nav">
      <ul class="nav-profile">
        <li ngbDropdown class="profile dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
            <span class="name">
              {{authService.loggedInUser?.name}} {{authService.loggedInUser?.surname[0]}}.
            </span>
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu profile-dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/sys/users/edit/myprofile']">
              <i class="fa fa-user icon"></i>Профиль
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">
              <i class="fa fa-power-off icon"></i>Выйти
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>