@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600");
@font-face {
	font-family: Gilroy-Light;
	src: url("fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
	font-family: Gilroy-ExtraBold;
	src: url("fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
	font-family: GillSans-Light;
	src: url("fonts/GillSans-Light.woff") format("woff"),
		url("fonts/GillSans-Light.otf") format("opentype"),
		url("fonts/GillSans-Light.eot");
}
h1 {
	font-size: 22px;
	color: #3f4849;
	margin: 0px 0 8px 5px;
	padding: 0;
}
/**Авторизация */
.auth {
	background-color: #009aff;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 100%;
	.auth-container {
		left: 50%;
		min-height: 330px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		--webkit-transform: translateY(-50%) translateX(-50%);
		width: 450px;
		.auth-header {
			border-bottom: 1px solid #bbb9ac;
			text-align: center;
		}
		.auth-title {
			font-family: Gilroy-Light;
			color: #3f4849;
			padding: 10px;
			line-height: 25px;
			font-size: 28px;
			font-weight: 600;
			margin: 0;
		}
		.auth-content {
			padding: 30px 50px;
		}
	}
	@media (max-width: 767px) {
		.auth-container {
			left: 0;
			margin: 0;
			margin-bottom: 10px;
			position: relative;
			top: 0;
			transform: inherit;
			--webkit-transform: inherit;
			width: 100%;
		}
		.auth-container .auth-content {
			padding: 30px 25px;
		}
	}
}
/**header*/
.nav-link {
	font-family: GillSans-Light;
	font-weight: 600;
	font-size: 16px;
}
.dropdown-menu {
	border: 1px solid rgba(126, 142, 159, 0.1);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.1);
	float: left;
	margin-top: 8px;
	.dropdown-item {
		cursor: pointer;
		clear: both;
		font-family: GillSans-Light;
		color: #4f5f6f;
		display: block;
		font-weight: 600;
		font-size: 16px;
		padding: 0 0px;
		transition: none;
		-webkit-transition: none;
		white-space: nowrap;
		i {
			margin-right: 7px;
		}
		&:hover {
			background: 0 0;
			background-color: #3f51b5;
			color: #fff !important;
		}
	}
}
.nav-item {
	padding-right: 15px;
}
.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
	align-items: center;
	background-color: #fff;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	// min-height: 60px;
	width: 100%;
	-ms-flex-align: center;
	position: absolute;
	right: 0;
	transition: left 0.3s ease;
	-webkit-align-items: center;
	-webkit-box-align: center;
	box-align: center;
	-webkit-transition: left 0.3s ease;
	.header-block {
		margin-right: 15px;
	}
	@media (max-width: 767px) {
		.header-block {
			padding: 5px;
		}
	}
	.header-block-nav {
		margin-left: auto;
		white-space: nowrap;
		.profile .name {
			cursor: pointer;
			color: #fff;
			font-family: GillSans-Light;
			font-size: 18px;
			display: inline-block;
			font-weight: 700;
			margin-right: 9px;
			text-decoration: none;
			border-bottom: 1px #282828 dashed;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		&::after {
			clear: both;
			content: "";
			display: table;
		}
		a {
			text-decoration: none;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: table;
			li {
				display: table-cell;
				position: relative;
				a {
					color: #282828;
					padding: 0 15px;
					&:hover {
						color: #29acc8;
					}
				}
			}
		}
	}
}
.dropdown-toggle::after {
	display: none;
}
/**Контент*/
.content {
	margin: 60px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	min-height: 100%;
	color: #282828 !important;
	.content-block {
		margin: 0px 10% 0 10% !important;
	}
}
.open .dropdown-toggle {
	color: #303030;
	background-color: #ffffff;
	border-color: #303030;
}
.dropdown-menu {
	border: 1px solid rgba(126, 142, 159, 0.1);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.1);
	float: left;
}

.dropdown-menu .dropdown-item {
	clear: both;
	color: #4f5f6f;
	font-family: GillSans-Light;
	display: block;
	font-weight: 600;
	padding: 5px 15px;
	transition: none;
	-webkit-transition: none;
	white-space: nowrap;
}

.dropdown-menu .dropdown-item i {
	margin-right: 2px;
}

.dropdown-menu .dropdown-item:hover {
	background: 0 0;
	background-color: #3f51b5;
	color: #fff !important;
}
