<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-4 col-xl-4 col-12">
      <div class="row">
        <div class="col-10">
          <mat-form-field class="full-width">
            <input matInput placeholder="Фильтр" autocomplete="nope" name="searchRepublic" id="searchRepublic"
              [(ngModel)]="searchRepublic" (input)="republic_paginator.firstPage()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchRepublic=''">
              <i class=" fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </mat-form-field>
        </div>
        <div class="col-2">
        </div>
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <td (click)="selectOrderRepublic()" [innerHTML]="'<b>Республика</b> ' + postfixRepublic"
                  [style.cursor]="'pointer'">
                  <b>Республика</b></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let list of republicsView | name : searchRepublic | slice: republic_start: republic_end; let i = index"
                [ngClass]="{'selected': selectedRepublicId === list.id}">
                <td (click)="onSelectRepublic(list.id)">{{list.name}}</td>
                <td (click)="onSelectRepublic(list.id)">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 float-right">
          <mat-paginator #republic_MatPaginator class="float-right" [length]="republicsLength"
            [pageIndex]="republic_pageEvent?.pageIndex" [pageSize]="republic_pageSize" [hidePageSize]=true
            [pageSizeOptions]="republic_pageSizeOptions" (page)="republic_setPageSizeOptions($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 col-xl-4 col-12">
      <div class="row">
        <div class="col-10">
          <mat-form-field class="full-width">
            <input matInput placeholder="Фильтр" autocomplete="nope" name="searchRegion" id="searchRegion"
              [(ngModel)]="searchRegion">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchRegion=''">
              <i class=" fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </mat-form-field>
        </div>
        <div class="col-2">
          <button class="float-right" [disabled]="selectedRepublicId === -1" mat-mini-fab color="primary"
            (click)="onAddRegion()">+</button>
        </div>
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <td (click)="selectOrderRegion()" [innerHTML]="'<b>Регион</b> ' + postfixRegion"
                  [style.cursor]="'pointer'"><b>Регион</b></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let list of regionsView | name : searchRegion | slice: region_start: region_end; let i = index"
                [ngClass]="{'selected': selectedRegionId === list.id}">
                <td (click)="onSelectRegion(list.id)">{{list.name}}</td>
                <td (click)="onSelectRegion(list.id)">
                  <i class="float-right fa fa-pencil" (click)="onEditRegion(list.id, $event)" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 float-right">
          <mat-paginator #region_MatPaginator class="float-right" [length]="regionsLength"
            [pageIndex]="region_pageEvent?.pageIndex" [pageSize]="region_pageSize" [hidePageSize]=true
            [pageSizeOptions]="region_pageSizeOptions" (page)="region_setPageSizeOptions($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4 col-xl-4 col-12">
      <div class="row">
        <div class="col-10">
          <mat-form-field class="full-width">
            <input matInput placeholder="Фильтр" autocomplete="nope" name="searchDistrict" id="searchDistrict"
              [(ngModel)]="searchDistrict">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchDistrict=''">
              <i class=" fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </mat-form-field>
        </div>
        <div class="col-2">
          <button class="float-right" [disabled]="selectedRegionId === -1" mat-mini-fab color="primary"
            (click)="onAddDistrict()">+</button>
        </div>
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <td (click)="selectOrderDistrict()" [innerHTML]="'<b>Район</b> ' + postfixDistrict"
                  [style.cursor]="'pointer'"><b>Район</b></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let list of districtsView | name : searchDistrict | slice: district_start: district_end; let i = index"
                [ngClass]="{'selected': selectedDistrictId === list.id}">
                <td (click)="onSelectDistrict(list.id)">{{list.name}}</td>
                <td (click)="onSelectDistrict(list.id)">
                  <i class="float-right fa fa-pencil" (click)="onEditDistrict(list.id, $event)" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 float-right">
          <mat-paginator #district_MatPaginator class="float-right" [length]="districtsLength"
            [pageIndex]="district_pageEvent?.pageIndex" [pageSize]="district_pageSize" [hidePageSize]=true
            [pageSizeOptions]="district_pageSizeOptions" (page)="district_setPageSizeOptions($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <!-- <hr class="d-md-none"> -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-10">
          <mat-form-field class="full-width">
            <input matInput placeholder="Фильтр" autocomplete="nope" name="searchLocality" id="searchLocality"
              [(ngModel)]="searchLocality">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchLocality=''">
              <i class=" fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </mat-form-field>
        </div>
        <div class="col-2">
          <button class="float-right" [disabled]="selectedDistrictId === -1" mat-mini-fab color="primary"
            (click)="onAddLocality()">+</button>
        </div>
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <td (click)="selectOrderLocality()" [innerHTML]="'<b>Населенный пункт</b> ' + postfixLocality"
                  [style.cursor]="'pointer'"><b>Населенный пункт</b></td>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let list of localitysView | name : searchLocality | slice: locality_start: locality_end; let i = index">
                <td (click)="onEditLocality(list.id)">{{list.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 float-right">
          <mat-paginator #locality_MatPaginator class="float-right" [length]="localitysLength"
            [pageIndex]="locality_pageEvent?.pageIndex" [pageSize]="locality_pageSize"
            [pageSizeOptions]="locality_pageSizeOptions" (page)="locality_setPageSizeOptions($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>