.breadcrumb {
	height: 30px;
	background-color: #fff;
	margin-top: 8px !important;
	margin-bottom: 20px !important;
	margin-left: 10% !important;
	margin-right: 10% !important;
	font-size: 14px;
	padding-left: 0;
	a {
		color: #282828;
	}
	span {
		color: #282828;
	}
	li {
		display: inline;
	}
	li + li:before {
		content: " > ";
		color: white;
	}
}
