<ol class="breadcrumb">
  <ng-container>
    <li *ngFor="let breadcrumb of breadcrumbs; last as isLast;" class="breadcrumb-item" [ngClass]="{'active': isLast}"
      aria-current="page">
      <a *ngIf="!isLast; else lastRoute" [routerLink]="[breadcrumb.url]" routerLinkActive="active"
        title="{{breadcrumb.label}}">
        {{ breadcrumb.label}}
      </a>
      <ng-template #lastRoute><span> {{ breadcrumb.label}}</span></ng-template>
    </li>
  </ng-container>
 </ol>