/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap&subset=cyrillic");
.mat-sidenav-container,
.mat-sidenav-content,
.mat-tab-body-content {
	transform: none !important;
}
.full-width {
	width: 100%;
}

.filter-option > .mat-pseudo-checkbox {
	display: none !important;
}

.btn-pict {
	min-width: 20px !important;
}
.breadcrumb li {
	display: inline;
}
.breadcrumb li + li:before {
	content: " > ";
	color: white;
}
.breadcrumb {
	background-color: #fff;
	padding: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 20px !important;
	/* font-size: 14px; */
}
.breadcrumb a {
	color: #3a4651;
}
.breadcrumb a:hover {
	color: #2d363f;
}
.breadcrumb span {
	color: #282828;
}
tbody tr {
	cursor: pointer;
}
tbody tr:hover {
	color: #3f51b5;
}
.app-dialog-base {
	width: 500px;
}
.app-dialog-extend {
	width: 800px;
}
.app-dialog-full {
	width: 95%;
	// height: 80%;
}
.dialog-base {
	padding-bottom: 15px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

h2 {
	margin-bottom: 10px;
	font-size: 26pt;
	font-weight: 400 !important;
	font-family: "Roboto Slab", serif !important;
	color: #000;
}
h3 {
	font-size: 15pt;
	font-weight: 400 !important;
	color: #000;
	font-family: "Roboto Slab", serif !important;
	&:hover {
		color: #c2c2c2;
	}
}
h1 {
	font-size: 35pt;
	margin-bottom: 50px;
	font-weight: 300 !important;
	font-family: "Roboto Slab", serif !important;
	color: #000;
}
p {
	color: #000;
	font-size: 14pt;
	font-family: "Roboto", serif !important;
	font-weight: 200;
}
