<div class="container">
  <form [formGroup]="muserForm" class="w-100">
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100">
          <input matInput autocomplete="nope" name="lg" id="lg" placeholder="Логин" formControlName="login"
            [readonly]="readonly" (focus)="readonly = false" appDisablecontrol
            [disableControl]="intType == 'myprofile'">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100" *ngIf="intType == 'newprofile'">
          <input matInput autocomplete="nope" name="pw" id="pw" type="password" placeholder="Пароль"
            formControlName="password" [readonly]="readonly" (focus)="readonly = false">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100" *ngIf="intType == 'editprofile'">
          <input matInput autocomplete="nope" name="pw" id="pw" type="password" placeholder="Пароль"
            formControlName="password" matTooltip="Для сохранения текущего пароля - оставьте поле пустым" readonly
            onfocus="this.removeAttribute('readonly')">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100">
          <input matInput placeholder="Имя" autocomplete="nope" name="name" id="name" formControlName="name"
            appDisablecontrol [disableControl]="intType == 'myprofile'">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100">
          <input matInput placeholder="Фамилия" autocomplete="nope" name="surname" id="surname"
            formControlName="surname" appDisablecontrol [disableControl]="intType == 'myprofile'">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-12" [style.margin-bottom]="'15px'">
          <mat-slide-toggle [color]="'primary'" formControlName="isadmin" *ngIf="intType != 'myprofile'"
            id="admin-toggle">
            Администратор
          </mat-slide-toggle>
        </div>
      </div>
    </div>
    <hr *ngIf="intType != 'myprofile'">
    <div class="row">
      <div class="col-12" *ngIf="intType != 'myprofile'">
        <button type="button" mat-raised-button color="primary" (click)="onSaveMuserForm()"
          [disabled]="muserForm.invalid">Сохранить</button>
        <button class="btn-pict" matTooltip="Обновить" type="button" mat-raised-button (click)="getData()"
          [style.margin-left]="'5px'">
          <i class="fa fa-fw fa-refresh"></i>
        </button>
        <button class="btn-pict" matTooltip="Удалить пользователя" type="button" mat-raised-button color="warn"
          (click)="onDelMuser()" [style.margin-left]="'5px'" *ngIf="intType == 'editprofile'">
          <i class="fa fa-fw fa-user-times"></i>
        </button>
      </div>
    </div>
  </form>
</div>