<div class="main-wrapper">
  <div class="app">
    <app-header></app-header>
    <article class="content">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
    </article>
  </div>
</div>