<!-- <h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <input matInput autocomplete="setstr" name="setstr" id="setstr" [(ngModel)]="data.str">
  </mat-form-field>
</div> -->




<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <h1>{{data.title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="full-width">
          <input matInput placeholder="Название" autocomplete="setstr" name="setstr" id="setstr" [(ngModel)]="data.str">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.str"
      [disabled]="data.str == null || data.str == ''">Сохранить</button>
    <button mat-raised-button (click)="onNoClick()">Отмена</button>
    <button class="btn-pict" type="button" mat-raised-button color="warn" [mat-dialog-close]="'delete'"
      [style.margin-left]="'5px'" *ngIf="data.edit === true">
      <i class="fa fa-ban" aria-hidden="true"></i>
    </button>
  </div>
</div>